# Assembly output
*.s

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app
a.out

# Others
/build/
/builddir/
/builddir_*/

*.kdev4
*.swp
*~

*.profraw
fuzzing/*.sancov
fuzzing/fuzz-*.log
fuzzing/corpus
